extends base

mixin inputBlock (text, type, placeholder, required, value)
  .flex-container.newTrip__textLine
    .newTrip__text= text
    if type == 'textarea'
      textarea(class!=attributes.class placeholder=`${placeholder}`)= value
    else if type == 'checkbox'
      - const checked = value === 'true'
      input(type=`${type}` class!=attributes.class checked=checked)
    else
      - const needed = required === 'true'
      input(type=`${type}` class!=attributes.class placeholder=`${placeholder}` required=needed value=`${value}`)

block content
  .main-right-column.flex-column
    h1= title
    form.flex-column.newTrip__form(id=`${trip ? 'editTripForm' : 'newTripForm'}` data-tripid=`${trip.id}`)
      .newTrip__container
        .flex-container
          .flex-column.newTrip__tripPicture-container
            img(src=`/img/trips/default-trip.jpeg` class='newTrip__tripImage')
            input(type='file' class='newTrip__tripPhotoBtn')
          .flex-column
            //- edit existing trip:
            if trip
              - const options = { year: 'numeric', month: '2-digit', day: '2-digit' };
              - const formattedDate = trip.date.toLocaleDateString('en-CA', options);
              +inputBlock('Name of the trip:', 'text', 'Awesome summer Europe trip', true, `${trip.name}`)(class='newTrip__input-name')
              +inputBlock('Starting date:', 'date', '', true, `${formattedDate}`)(class='newTrip__input-date')
              +inputBlock('Duration:', 'text', '2 weeks', false, `${trip.duration ? trip.duration : '-'}`)(class='newTrip__input-duration')
              +inputBlock('Trip highlight:', 'text', '8 countries, 4 people, 100 delicious baguetes!', false, `${trip.highlight ? trip.highlight : '-'}`)(class='newTrip__input-highlight')
              +inputBlock('With:', 'text', "Type your friend's name", false, '')(class='newTrip__input-with')
              +inputBlock('', 'textarea', 'Trip details, your impressions', false, `${trip.description ? trip.description : '-'}`)(class='newTrip__input-description')
              +inputBlock('Show only to your friends:', 'checkbox', '', false, `${trip.private}`)(class='newTrip__checkbox')
            //- create new trip:
            else
              +inputBlock('Name of the trip:', 'text', 'Awesome summer Europe trip', true, '')(class='newTrip__input-name')
              +inputBlock('Starting date:', 'date', '', true, '')(class='newTrip__input-date')
              +inputBlock('Duration:', 'text', '2 weeks', false, '')(class='newTrip__input-duration')
              +inputBlock('Trip highlight:', 'text', '8 countries, 4 people, 100 delicious baguetes!', false, '')(class='newTrip__input-highlight')
              .flex-column.newTrip__with-container
                .flex-container.newTrip__textLine
                  .newTrip__text With:
                  input(type="text" class="newTrip__input-with" list="travelersList" placeholder="Friend's name")
                  datalist(id="travelersList")
                    each friend of user.friends
                      option(data-travelerId=`${friend._id}`)= friend.name
                .flex-container.newTrip__travelersList
              +inputBlock('', 'textarea', 'Trip details, your impressions', false)(class='newTrip__input-description')
              +inputBlock('Show only to your friends:', 'checkbox', '', false)(class='newTrip__checkbox')
      input(type='submit' value=`${trip ? 'Save changes' : 'Next'}`)