extends base

block content
  h1= user.name
  .flex-container
    .flex-column
      h2 Friends:
      each person of user.friends
        .friendsPage__friendContainer.flex-container
          img(src=`/img/users/${person.photo}` class='friendsPage__picSmall')
          .friendsPage__text= person.name
    .vertical-line

    .flex-column.friendsPage__friendRequests
      h2 Friend requests:
      each person of user.friendRequests
        .friendsPage__friendContainer.flex-container
          img(src=`/img/users/${person.photo}` class='friendsPage__picSmall')
          .friendsPage__text= person.name
          button(class='1' data-userid=`${person._id}`) Add friend

  .flex-column
    .flex-container
      .friendsPage__simple-text Look for travelers:
      form.friendsPage__searchForm
        input(type='text' placeholder='Name' class='friendsPage__input-name' required)
        button.friendsPage__searchBtn Search

  table.friendsPage__table
    thead
      tr
        th Photo
        th Name
        th Trips
    tbody.friendsPage__search-results


