extends base

block nav
  include _nav

block content
  .flex-container
    if owner.id == visitor.id
      h1= `All my trips`
    else
      h1= `All trips of ${owner.name}`
      - if (!owner.friends.includes(visitor.id))
        button(class='addFriendBtn' data-hostid=`${owner.id}`) Send Friend Request
      - else
        .indexPage_friendLogo Friend
  .cardContainer
    each trip in trips
      a(class='cardLink' href=`/trips/${trip.id}`)
        article(class='tripCard flex-column' data-tripId=`${trip.id}`)
          img.tripCard__picture(src=`/img/trips/${trip.coverImage}`, alt=`${trip.name}`)
          .tripCard__date= `${trip.date.toLocaleString('en-GB', {day: 'numeric', month: 'long', year: 'numeric'})}`
          .tripCard__date= trip.duration
          .tripCard__name= trip.name
          .tripCard__highlight= trip.highlight
          .tripCard__with-cardContainer.flex-container
            each traveler in trip.travelers
              .tooltip
                img(src=`/img/users/${traveler.photo}` class='tripCard__user-photo')
                span.tooltiptext= traveler.name