extends base

block nav
  include _nav

block content
  .flex-container
    h1= `All trips of ${owner.name}`
    if owner.id !== visitor.id
      button(class='addFriendBtn' data-userid=`${owner.id}`) Send Friend Request
  .cardContainer
    each trip in trips
      a(class='cardLink' href=`/trips/${trip.id}`)
        article(class='tripCard' data-tripId=`${trip.id}`)
          img.tripCard__picture(src=`/img/trips/${trip.coverImage}`, alt=`${trip.name}`)
          h2= trip.name
          .tripCard__date= `Trip date: ${trip.date.toLocaleString('en-GB', {day: 'numeric', month: 'long', year: 'numeric'})}`
          .tripCard__highlight= trip.highlight