extends base

block append head
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />

block content
  .flex-column.trip-info__top-info
    .trip-info__name
      h1= trip.name
      .trip-info__date= `${trip.date.toLocaleString('en-GB', {day: 'numeric', month: 'long', year: 'numeric'})} ${trip.duration ? '- ' + trip.duration : ''}`
    .map(id='map' data-locations=`${JSON.stringify(trip.locations)}` style='position: absolute')

  .flex-column.trip-info__details-window
    .flex-column.trip-info__location-info.hidden

  .flex-container.trip-info__lower-info
    .flex-column
      h2.trip-info__highlight= trip.highlight
      .flex-container.trip-info__travelers-container
        p With:
        each traveler in trip.travelers
          //- todo - add name as the popup on hover on the image
          .tooltip
            a(href=`/users/${traveler._id}`)
              img(src=`/img/users/${traveler.photo}` class='trip-desc__user-photo')
              span.tooltiptext= traveler.name
    .trip-info__description= trip.description

  each traveler in trip.travelers
    if traveler._id == visitorId
      .flex-container.trip-info__buttons-container
        a(class='trip-info__edit-info-btn' href=`${trip.id}/edit`) Edit Trip Info
        a(class='trip-info__edit-locations-btn' href=`${trip.id}/locations`) Edit Locations
        button(class='trip-info__delete-btn') Delete Trip